<h1>お風呂</h1>
<div class="ofuro">
    <div class="ofuro2">
     <img src="/assets/img.jpg" alt="お風呂の写真" width="400" heigh="300">
    </div>
    <div class="ofuro3">
     <h1>~温泉~</h1>
     <p>aaaaaaaaaaaaaaaaaaaaaaa</p>
     <p>bbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
    </div>
</div>
<div class="mizuburo">
    <div class="mizuburo2">
    <h1>~水風呂~</h1>
    </div>
<img src="/assets/img1.jpg" alt="水風呂写真" width="400" heigh="300">
</div>
<div class="about">
<img src="/assets/img2.jpg" alt="about" width="400" heigh="300">
</div>