<div class="onsen">
 <h1>お風呂</h1>
</div>
<div class="ofuro">
    <div class="ofuro2">
     <img src="/assets/u-neru3.jpg" alt="お風呂の写真" width="400" heigh="300">
    </div>
    <div class="ofuro3">
     <h1>~温泉~</h1>
     <p>露天風呂には、地下2キロからくみ上げた天然温泉をかけ流し！</p>
     <p>旅の疲れを癒してください</p>
    </div>
</div>
<div class="mizuburo">
    <div class="mizuburo2">
    <h1>~様々な湯舟~</h1>
    <p>ジェットバスから、地域最強濃度の炭酸泉まで</p>
    <p>様々な種類のお風呂をお楽しみください</p>
    </div>
<img src="/assets/u-neru5.jpg" alt="水風呂写真" width="400" heigh="300">
</div>
<div class="about">
<img src="/assets/img2.jpg" alt="about" width="400" heigh="300">
</div>