<div class="sauna">
<h1>sauna</h1>
<img src="/assets/img.jpg" alt="saunaの写真" width="400" heigh="300">
</div>
<div class="mizuburo">
<img src="/assets/img1.jpg" alt="水風呂写真" width="400" heigh="300">
</div>
<div class="about">
<img src="/assets/img2.jpg" alt="about" width="400" heigh="300">
</div>